/* PAGE SECTIONS */
body {
  color: #444;
  font-family: sans-serif;

 // border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.css-diagram {
  float: left;
}

.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.author-image {
  float: left;
  margin-bottom: 20px;
}

.author-box {
}

#Copyright {
  font-size: 16px;
}
